## AIVLE School [AI 미니프로젝트] '서울시 생활정보 기반 대중교통 수요 분석'<br>

# 3. 구 별 등록인구 분석
### 서울시 내 각 구 별로 등록된 인구를 분석합니다.

In [1]:
# 필요 라이브러리를 설치합니다.
%pip install pandas seaborn

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: seaborn in c:\users\user\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\user\anaconda3\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## 데이터 안내

[데이터 파일명]
* 3. seoul_people.csv

[데이터 정보]
* 서울시 주민등록 데이터

[데이터 컬럼 정보]
* 한국인, 등록 외국인, 합계, 세대수, 고령인구수

# 3.1.데이터 불러오기

#### [3.1.1] 데이터 로딩
* Pandas 라이브러리를 활용해서 '3. seoul_people.csv'파일을 'seoul_people' 변수에 저장하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 '\t' 입니다
        * 인코더를 사용해 주세요
    * 데이터를 불러올 때 오류가 발생한다면, 오류에 대해 직접 검색하여 해결해보세요.

In [27]:
import pandas as pd
import numpy as np

In [28]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_people = pd.read_csv('./csv/3. seoul_people.csv', sep='\t', encoding='CP949')
seoul_people

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2022.1/4,합계,4451444,9732617,4716704,5015913,9506778,4613910,4892868,225839,102794,123045,2.14,1628980
3,2022.1/4,종로구,73766,153684,74018,79666,144275,69911,74364,9409,4107,5302,1.96,28064
4,2022.1/4,중구,63767,131450,63869,67581,122173,59448,62725,9277,4421,4856,1.92,24742
5,2022.1/4,용산구,111207,236518,114571,121947,222169,106735,115434,14349,7836,6513,2,39461
6,2022.1/4,성동구,134533,291609,141662,149947,285073,138847,146226,6536,2815,3721,2.12,46896
7,2022.1/4,광진구,169483,353110,169525,183585,340707,164346,176361,12403,5179,7224,2.01,52604
8,2022.1/4,동대문구,169695,352592,172318,180274,337982,166823,171159,14610,5495,9115,1.99,62963
9,2022.1/4,중랑구,187693,393600,193623,199977,389043,191835,197208,4557,1788,2769,2.07,72851
10,2022.1/4,성북구,197296,442680,212277,230403,433150,208691,224459,9530,3586,5944,2.2,75719
11,2022.1/4,강북구,144725,300824,145934,154890,297384,144643,152741,3440,1291,2149,2.05,64961
12,2022.1/4,도봉구,138836,318100,154440,163660,316098,153716,162382,2002,724,1278,2.28,65122
13,2022.1/4,노원구,219065,514445,247417,267028,510486,245663,264823,3959,1754,2205,2.33,89426
14,2022.1/4,은평구,215178,476013,227172,248841,472259,225640,246619,3754,1532,2222,2.19,88418
15,2022.1/4,서대문구,145044,317075,149805,167270,305866,145958,159908,11209,3847,7362,2.11,55012
16,2022.1/4,마포구,180702,378629,176886,201743,368331,173073,195258,10298,3813,6485,2.04,55168
17,2022.1/4,양천구,181765,449378,219882,229496,446182,218554,227628,3196,1328,1868,2.45,69953
18,2022.1/4,강서구,272572,578426,277797,300629,573046,275422,297624,5380,2375,3005,2.1,93924
19,2022.1/4,구로구,181916,419984,208027,211957,396017,195002,201015,23967,13025,10942,2.18,73864
20,2022.1/4,금천구,118697,244901,123959,120942,231098,116568,114530,13803,7391,6412,1.95,41819
21,2022.1/4,영등포구,188193,400241,198080,202161,376740,185696,191044,23501,12384,11117,2,63547
22,2022.1/4,동작구,186419,394649,190377,204272,386017,186648,199369,8632,3729,4903,2.07,67470
23,2022.1/4,관악구,279353,500336,250450,249886,486375,244409,241966,13961,6041,7920,1.74,80686
24,2022.1/4,서초구,169895,413677,197665,216012,409823,195806,214017,3854,1859,1995,2.41,61404
25,2022.1/4,강남구,234612,537338,257096,280242,532577,254866,277711,4761,2230,2531,2.27,79575
26,2022.1/4,송파구,285106,668261,321963,346298,662607,319407,343200,5654,2556,3098,2.32,99854
27,2022.1/4,강동구,201926,465097,227891,237206,461300,226203,235097,3797,1688,2109,2.28,75477

In [29]:
# 데이터 프레임의 Shape을 확인합니다.
np.shape(seoul_people)

(28, 14)

# 3.2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [3.2.1] 기본 정보 확인하기
* 'seoul_people' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head', 'tail' 등 전부 활용해 보세요.

In [30]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_people.describe().T

         count unique       top freq
기간          28      2  2022.1/4   26
자치구         28     27       자치구    2
세대          28     27        세대    2
인구          28     28        합계    1
인구.1        28     28        합계    1
인구.2        28     28        합계    1
인구.3        28     28       한국인    1
인구.4        28     28       한국인    1
인구.5        28     28       한국인    1
인구.6        28     28     등록외국인    1
인구.7        28     28     등록외국인    1
인구.8        28     28     등록외국인    1
세대당인구       28     24     세대당인구    2
65세이상고령자    28     27  65세이상고령자    2

In [31]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        28 non-null     object
 1   자치구       28 non-null     object
 2   세대        28 non-null     object
 3   인구        28 non-null     object
 4   인구.1      28 non-null     object
 5   인구.2      28 non-null     object
 6   인구.3      28 non-null     object
 7   인구.4      28 non-null     object
 8   인구.5      28 non-null     object
 9   인구.6      28 non-null     object
 10  인구.7      28 non-null     object
 11  인구.8      28 non-null     object
 12  세대당인구     28 non-null     object
 13  65세이상고령자  28 non-null     object
dtypes: object(14)
memory usage: 3.2+ KB

In [21]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_people.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2022.1/4,합계,4451444,9732617,4716704,5015913,9506778,4613910,4892868,225839,102794,123045,2.14,1628980
3,2022.1/4,종로구,73766,153684,74018,79666,144275,69911,74364,9409,4107,5302,1.96,28064
4,2022.1/4,중구,63767,131450,63869,67581,122173,59448,62725,9277,4421,4856,1.92,24742

In [32]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_people.tail()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
23,2022.1/4,관악구,279353,500336,250450,249886,486375,244409,241966,13961,6041,7920,1.74,80686
24,2022.1/4,서초구,169895,413677,197665,216012,409823,195806,214017,3854,1859,1995,2.41,61404
25,2022.1/4,강남구,234612,537338,257096,280242,532577,254866,277711,4761,2230,2531,2.27,79575
26,2022.1/4,송파구,285106,668261,321963,346298,662607,319407,343200,5654,2556,3098,2.32,99854
27,2022.1/4,강동구,201926,465097,227891,237206,461300,226203,235097,3797,1688,2109,2.28,75477

#### [3.2.2] 원하는 데이터 형태로 저장하기

* head, tail 등을 살펴본 결과를 토대로 header 값을 적절히 지정하여 데이터를 다시 불러오고 필요한 컬럼만 저장하세요

In [33]:
#read_csv 재실행. 단, header값을 적절히 지정
import pandas as pd
seoul_people = pd.read_csv('./csv/3. seoul_people.csv', sep='\t', encoding='CP949', header=2)

In [34]:
# 다시 불러온 데이터프레임에서 여러분 각자가 사용하고자 하는 컬럼만 가져오세요.
seoul_people = seoul_people.iloc[:, [1,3,4,5,12,13]]
seoul_people

     자치구        계       남자       여자  세대당인구  65세이상고령자
0     합계  9732617  4716704  5015913   2.14   1628980
1    종로구   153684    74018    79666   1.96     28064
2     중구   131450    63869    67581   1.92     24742
3    용산구   236518   114571   121947   2.00     39461
4    성동구   291609   141662   149947   2.12     46896
5    광진구   353110   169525   183585   2.01     52604
6   동대문구   352592   172318   180274   1.99     62963
7    중랑구   393600   193623   199977   2.07     72851
8    성북구   442680   212277   230403   2.20     75719
9    강북구   300824   145934   154890   2.05     64961
10   도봉구   318100   154440   163660   2.28     65122
11   노원구   514445   247417   267028   2.33     89426
12   은평구   476013   227172   248841   2.19     88418
13  서대문구   317075   149805   167270   2.11     55012
14   마포구   378629   176886   201743   2.04     55168
15   양천구   449378   219882   229496   2.45     69953
16   강서구   578426   277797   300629   2.10     93924
17   구로구   419984   208027   211957   2.18     73864
18   금천구   244901   123959   120942   1.95     41819
19  영등포구   400241   198080   202161   2.00     63547
20   동작구   394649   190377   204272   2.07     67470
21   관악구   500336   250450   249886   1.74     80686
22   서초구   413677   197665   216012   2.41     61404
23   강남구   537338   257096   280242   2.27     79575
24   송파구   668261   321963   346298   2.32     99854
25   강동구   465097   227891   237206   2.28     75477

In [35]:
# 해당 데이터프레임을 csv 파일로 저장하세요.
seoul_people.to_csv('csv/df_seoul_people.csv', index=False)

# 3.3.데이터 분석하기
+ 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별하세요.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [36]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

#### [3.3.1] 데이터 분포 알아보기
* 다양한 변수를 기준으로 그래프를 그려보고 인사이트를 도출해보세요.

In [13]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [14]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

---